<h1>Forms#range</h1>

<h2>range:</h2>
<label for="customRange1" class="form-label">Example range</label>
<input type="range" class="form-range" id="customRange1">

<h2>disabled:</h2>
<label for="disabledRange" class="form-label">Disabled range</label>
<input type="range" class="form-range" id="disabledRange" disabled>

