<div class="d-flex p-2">I'm a flexbox container!</div>

<div class="d-inline-flex p-2">I'm an inline flexbox container!</div>

<div class="d-flex flex-row mb-3">
  <div class="p-2">Flex item 1</div>
  <div class="p-2">Flex item 2</div>
  <div class="p-2">Flex item 3</div>
</div>

<div class="d-flex flex-row-reverse">
  <div class="p-2">Flex item 1</div>
  <div class="p-2">Flex item 2</div>
  <div class="p-2">Flex item 3</div>
</div>

<div class="d-flex flex-column mb-3">
  <div class="p-2">Flex item 1</div>
  <div class="p-2">Flex item 2</div>
  <div class="p-2">Flex item 3</div>
</div>

<div class="d-flex flex-column-reverse">
  <div class="p-2">Flex item 1</div>
  <div class="p-2">Flex item 2</div>
  <div class="p-2">Flex item 3</div>
</div>

<div class="d-flex justify-content-start">
  <div class="p-2">justify</div>
  <div class="p-2">content</div>
  <div class="p-2">start</div>
</div>

<div class="d-flex justify-content-end">
  <div class="p-2">justify</div>
  <div class="p-2">content</div>
  <div class="p-2">end</div>
</div>

<div class="d-flex justify-content-center">
  <div class="p-2">justify</div>
  <div class="p-2">content</div>
  <div class="p-2">center</div>
</div>

<div class="d-flex justify-content-between">
  <div class="p-2">justify</div>
  <div class="p-2">content</div>
  <div class="p-2">between</div>
</div>

<div class="d-flex justify-content-around">
  <div class="p-2">justify</div>
  <div class="p-2">content</div>
  <div class="p-2">around</div>
</div>

<div class="d-flex justify-content-evenly">
  <div class="p-2">justify</div>
  <div class="p-2">content</div>
  <div class="p-2">evenly</div>
</div>

<div class="d-flex align-items-start">
  <div class="p-2">Flex item1</div>
  <div class="p-2">Flex item2</div>
  <div class="p-2">Flex item3</div>
</div>

<div class="d-flex align-items-end">
  <div class="p-2">Flex item1</div>
  <div class="p-2">Flex item2</div>
  <div class="p-2">Flex item3</div>
</div>

<div class="d-flex align-items-center">
  <div class="p-2">Flex item1</div>
  <div class="p-2">Flex item2</div>
  <div class="p-2">Flex item3</div>
</div>

<div class="d-flex align-items-baseline">
  <div class="p-2">Flex item1</div>
  <div class="p-2">Flex item2</div>
  <div class="p-2">Flex item3</div>
</div>

<div class="d-flex align-items-stretch">
  <div class="p-2">Flex item1</div>
  <div class="p-2">Flex item2</div>
  <div class="p-2">Flex item3</div>
</div>

<div class="d-flex align-self-start">
  <div class="p-2">Flex item</div>
  <div class="p-2">Aligned flex item</div>
  <div class="p-2">Flex item</div>
</div>

<div class="d-flex align-self-end">
  <div class="p-2">Flex item</div>
  <div class="p-2">Aligned flex item</div>
  <div class="p-2">Flex item</div>
</div>

<div class="d-flex align-self-center">
  <div class="p-2">Flex item</div>
  <div class="p-2">Aligned flex item</div>
  <div class="p-2">Flex item</div>
</div>

<div class="d-flex align-self-baseline">
  <div class="p-2">Flex item</div>
  <div class="p-2">Aligned flex item</div>
  <div class="p-2">Flex item</div>
</div>

<div class="d-flex align-self-stretch">
  <div class="p-2">Flex item</div>
  <div class="p-2">Aligned flex item</div>
  <div class="p-2">Flex item</div>
</div>

<div class="d-flex">
  <div class="p-2 flex-fill">Flex item with a lot of content</div>
  <div class="p-2 flex-fill">Flex item</div>
  <div class="p-2 flex-fill">Flex item</div>
</div>

<div class="d-flex">
  <div class="p-2 flex-grow-1">Flex item</div>
  <div class="p-2">Flex item</div>
  <div class="p-2">Third flex item</div>
</div>

<div class="d-flex">
  <div class="p-2 w-100">Flex item</div>
  <div class="p-2 flex-shrink-1">Flex item</div>
</div>

